<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardMapper">

<!-- 등록 insert -->
<insert id="insert" parameterType="boardDTO">
	insert into tbl_board(bno, title, content, writer)
	 			  values (seq_board.nextval, #{title}, #{content}, #{writer})
</insert>

<!-- 업데이트 update -->
<update id="update" parameterType="boardDTO">
 update tbl_board
	set 
		title=#{title},
		content=#{content},
		writer=#{writer},
		updateDate = sysdate
 where bno = #{bno}
</update>

<!-- 삭제 delete -->
<delete id="delete" parameterType="Long">
	delete tbl_board
	 where bno = #{bno}
</delete>

<!-- 단건조회 read -->
<select id="read" parameterType="Long" resultType="boardDTO">
  select *
	from tbl_board
   where bno = #{bno}
</select>

<!-- 전체조회 getList -->
<select id="getList" resultType="boardDTO">
SELECT *
FROM (
	    SELECT /*+index_desc(TBL_BOARD PK_BOARD)*/
	    	    ROWNUM RN, 
	    	    BNO, 
	    	    TITLE, 
	    	    WRITER,
	    	    REGDATE,
	    	    REPLYCNT
	      FROM tbl_board  
	    <![CDATA[
	    WHERE ROWNUM <= #{end}
	    ]]>
		<include refid="criteria"></include>
 		
) WHERE<![CDATA[ RN >= #{start} ]]>
</select>

<!-- 카운트 -->
<select id="getCount" resultType="int">
  SELECT COUNT(*) FROM TBL_BOARD
  <where>
  <include refid="criteria"></include>
  </where>
</select>
<!-- 댓글수업데이트 -->
<update id="updateReplyCnt">
	update tbl_board 
	set replycnt = replycnt + #{amount} 
	where bno = #{bno} 
</update>



<sql id="criteria">
	<if test="keyword !=null and ! keyword.equals('')">
	  <trim prefix="and (" suffix=")" prefixOverrides="or">
		<foreach item="type" collection="typeArr">
		  <trim prefix="or">
			<choose>
				<when test="type == 'T'.toString()">
					TITLE like '%' || #{keyword} || '%'
				</when>
				<when test="type == 'C'.toString()">
					CONTENT like '%' || #{keyword} || '%'
				</when>
				<when test="type == 'W'.toString()">
					WRITER like '%' || #{keyword} || '%'
				</when>
			</choose>
		  </trim>		
		</foreach>
	  </trim>	
	</if>  
</sql>

</mapper>