<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.insa.mapper.EmployeesMapper">
<!-- 전체조회 getList -->
<select id="getList" resultType="EmployeesDTO">
            SELECT 
               employee_id, 
               first_name, 
               last_name,
               email,
               phone_number,
               hire_date,
               job_id,
               salary,
               commission_pct,
               manager_id,              
               department_id
            FROM   
               employees
</select>

<!-- 등록 insert -->
<insert id="insert" parameterType="EmployeesDTO">
	insert into employees(employee_id, first_name, last_name, email, hire_date, job_id)
	 			  values (EMPLOYEES_SEQ.nextval, #{firstName}, #{lastName}, #{email}, #{hireDate}, #{jobId})
</insert>


<select id="getJobList" resultType="JobsDTO">
	SELECT job_id,
	       job_title,
	       min_salary,
	       max_salary
    FROM jobs
</select>

<!-- 삭제 delete -->
<delete id="delete" parameterType="Long">
	DELETE FROM
	employees
	WHERE employee_id = #{employeeId}
</delete>

</mapper>